@{
    ViewBag.Title = "Home";
}

<h2>Welcome, @ViewBag.Username!</h2>

<a asp-controller="User" asp-action="Logout" class="btn btn-primary">Logout</a>

<a href="@Url.Action("Index", "Exam")" class="btn btn-primary">Go to Exam</a>
